<html>
<head>
    <title></title>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('Timetable', [])
        app.controller('checkboxtree', function ($scope) {
            //This will hide the DIV by default.
            $scope.IsVisible = false;
			            $scope.Visible = false;

            $scope.ShowHide = function () {
                //If DIV is visible it will be hidden and vice versa.
                $scope.IsVisible = $scope.Show;
				                $scope.Visible = $scope.Hide;

            }
        });
    </script>

	
	<button type="button">IMPORT FILE</button>	
	<button type="button">EXPORT FILE</button>
<hr>
		
	<div ng-app="Timetable" ng-controller="checkboxtree">
<label for="check">
<div>
<li><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" /> UNIT 1<div ng-show="IsVisible">
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />COSC</</br> <div ng-show="IsVisible">
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />100</</br> <div ng-show="IsVisible">
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />COSC 111</</br> <div ng-show="IsVisible"></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />COSC 121</</br> <div ng-show="IsVisible"></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />COSC 123</</br> <div ng-show="IsVisible"></ul>


</ul>

<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />200</</br> <div ng-show="IsVisible">
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />COSC 211</</br> <div ng-show="IsVisible"></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />COSC 222</</br> <div ng-show="IsVisible"></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />COSC 223</</br> <div ng-show="IsVisible"></ul>
</ul></ul></div>

<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />PHYS</</br> <div ng-show="IsVisible">
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />100</</br> <div ng-show="IsVisible">
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />PHYS 111</</br> <div ng-show="IsVisible"></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />PHYS 122</</br> <div ng-show="IsVisible"></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />PHYS 131</</br> <div ng-show="IsVisible"></ul></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />200</</br> <div ng-show="IsVisible"></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />300</</br> <div ng-show="IsVisible"></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />400</</br> <div ng-show="IsVisible"></ul>


</ul> 
</div>

<div>
<div ng-app="Timetable" ng-controller="checkboxtree">
<label for="check">
<li><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" /> UNIT 2<div ng-show="IsVisible">

<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />GEOG</</br> <div ng-show="IsVisible">
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />100</</br> <div ng-show="IsVisible"></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />200</</br> <div ng-show="IsVisible"></ul>
</ul></div>
 </div>
 
 
 <div>
 <div ng-app="Timetable" ng-controller="checkboxtree">

 <li><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" /> UNIT 3<div ng-show="IsVisible">
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />BIOL</</br> <div ng-show="IsVisible">
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />100</</br> <div ng-show="IsVisible"></ul>
<ul><input type="checkbox" id="check" ng-model="Show" ng-change="ShowHide()" />200</</br> <div ng-show="IsVisible"></ul></li>
 
 </div>
 
 
 
 
 
 

        </div>
    </div>
</body>
</html>